<CascadingAuthenticationState>
	<Router AppAssembly="@typeof(App).Assembly">
		<Found Context="routeData">
			<AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(Layout.MainLayout)">
				<NotAuthorized>
					<LayoutView Layout="@typeof(Layout.NoLayout)">
					<RedirectToLogin />
					</LayoutView>
				</NotAuthorized>
				<Authorizing>
					<LayoutView Layout="@typeof(Layout.NoLayout)">
						<p>Завантаження...</p>
					</LayoutView>
				</Authorizing>
			</AuthorizeRouteView>
		</Found>
		<NotFound>
			<LayoutView Layout="@typeof(Layout.MainLayout)">
				<p>Сторінку не знайдено.</p>
			</LayoutView>
		</NotFound>
	</Router>
</CascadingAuthenticationState>